<footer>
    <div class="contact-us">
        <h3>Contact Us</h3>
        <ul>
            <li>Contact :- 8719809089</li>
            <li>email :- himanshumandwal2199@gmail.com</li>
        </ul>
    </div>
    <div class="about-us">
        <h3>About Us</h3>
        <ul>
            <li>Non - Profitable social application</li>
            <li>created By :- HE</li>
        </ul>
    </div>
</footer>