<link rel="stylesheet" href="/css/home.css">
<!-- <h1>Codeial / <%=title%></h1> -->
    <section id="feed-posts">
        <%if(locals.user){%>
        <div class="post-container">
            <span>
                Posts
            </span>

            <form action="/post/create" id="new-post-form" method="POST">
                <textarea cols="30" rows="3" name="content" placeholder="type here"></textarea>
                <input type="submit" value="Post">
            </form>
            <%for( post of posts) {%>
                <%- include('_post') -%>
            <%}%>
        </div>
        <%}%>
</section>

<section id="user-friends">
    <h4>Friends</h4>
   <% for(user of allUsers) {%>
        <p>
            <a href="/user/profile/<%=user.id%>"></a>
        </p>
    <%}%>

</section>