<link rel="stylesheet" href="/css/home.css">
<!-- <h1>Codeial / <%=title%></h1> -->
<div id="home-container">
    <section id="dumy">

    </section>

    <section id="feed-posts" class="section80vh">
            <%if(locals.user){%>
            <div class="post-container">
                <span>
                    Posts
                </span>

                <form action="/post/create" id="new-post-form" method="POST">
                    <textarea cols="30" rows="3" name="content" placeholder="type here"></textarea>
                    <input type="submit" value="Post">
                </form>
                <div id="post-list-container">
                    <%for( post of posts) {%>
                        <%- include('_post') -%>
                    <%}%>
                </div>
            </div>
            <%}%>
    </section>

    <section id="user-friends">
        <h4>Friends</h4>
    <% for(user of allUsers) {%>
            <p>
                <a href="/user/profile/<%=user.id%>"><%=user.name%></a>
            </p>
        <%}%>

    </section>
</div>
<script src="/js/home_post.js"></script>