<link rel="stylesheet" href="/css/userProfile.css">
<h1>
    Codeial <%=title%>
</h1>
<div>
    <ul>
        <li>Name :- <%=name%></li>
        <li>Email :- <%=email%></li>
    </ul>
</div>
<form action="/user/sign-out" method="GET">
    <button type="submit">Sign Out</button>
</form>