#home-container {
    display: flex;
    height: 82vh;
    #feed-posts {
        width: 70%;
        padding: 2px;
    }
    #user-friends{
        width: 20%;
        padding: 15px;
        border-left:1px solid gray ;
    }
    #dumy{
        width: 10%;
        padding: 2px;
        border-right:1px solid gray ;
    }
}



.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    height: 100%;
    div{
        width: 90%;
        height:auto;
        margin: 10px;
        box-shadow: black;
    }
    overflow:scroll;
}
#feed-posts { //optional
    display: block;

}

.post-comments{
    background-color: rgb(243, 245, 240);
}