*{
   margin: 0px;
   padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.link-default {
    text-decoration: none;
}
.nav {
    background: cornflowerblue;
    height:9vh;
}
header {
    height: 100%;
}

.footer {
    background: cornflowerblue;
    height: 9vh;
}
.section80vh{
    height: 80vh;
    padding: 10px;
}