#home-container {
  display: flex;
}

#home-container #feed-posts {
  width: 70%;
  padding: 10px;
}

#home-container #user-friends {
  width: 20%;
  padding: 10px;
  border-left: 1px solid lightgray;
}

#home-container #dumy {
  width: 10%;
  padding: 10px;
  border-right: 1px solid lightgray;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
  height: 100%;
  overflow: scroll;
}

.post-container div {
  width: 90%;
  height: auto;
  margin: 10px;
  box-shadow: black;
}

#feed-posts {
  display: block;
}

.post-comments {
  background-color: #f3f5f0;
}
