* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.link-default {
  text-decoration: none;
}

.nav {
  background: cornflowerblue;
  height: 60px;
}

header {
  height: 100%;
}

.main {
  flex-grow: 1;
}

.footer {
  background: cornflowerblue;
  height: 60px;
}
